.showresources{
    display: flex; 
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color:white;
    padding: 30px 0px;
    width: 40%;
    margin-top: 60px;
    margin-left: 30%;
    border-radius: 20px;
    z-index: 999;
    position: fixed;
}
.hideresources{
    display: none;
}
.lsubdiv1{
    line-height: 35px;
    padding-left:10px;
}
.lsubdiv{
    line-height: 35px;
    /* width: 23%; */
    padding-left:30px;
    border-left: 0.2px solid rgb(184, 182, 182);
}
.lbold{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.lp{
    color: gray;
    cursor: pointer;
    font-weight: bold;
}
.lp:hover{
    color: rgb(103, 164, 189);
}
.lp>span{
    font-weight: lighter;
}