
.slider{
    height: 60px;
    width: 85%;
    margin: auto;
    display: grid;
    gap: 10px;
    position: relative;
    place-items: center;
    overflow: hidden;
    align-items: center;
    
}

.slide{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.slide > img{
   height: 30px;
   width: 110px;
}

@media all and (min-width:421px) and (max-width:720px) {
    .slider{
        height: 30px;
        width: 100%;
        display: grid;
        gap: 10px;
        position: relative;
        place-items: center;
        overflow: hidden;
        align-items: center;
        
    }
    .slide > img{
        height: 15px;
        width: 80px;
     }
}
























